$black: rgba(22, 22, 72, 1);
$white: rgba(255, 255, 255, 1);
$white-shadow: rgba(240, 240, 250, 0.8);

body, html {
  background-color: $white;
  color: $black;
  font-family: 'Montserrat', sans-serif;
}

#app {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.sample-card {
  align-items: center;
  border-radius: 24px;
  box-shadow: 0px 0px 20px 24px $white-shadow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 18px;
  min-width: 300px;

  h1 {
    font-weight: 600;
  }

  button {
    border: none;

    i {
      font-size: 18px;
    }

    &:hover {
      cursor: pointer;
    }

    &:hover, &:focus {
      outline: none;
    }
  }
}