$dark: rgba(20, 20, 20, 1);
$dark-shadow: rgba($dark, 0.6);
$light: rgba(255, 255, 255, 1);
$pink: rgba(192, 134, 126, 0.9);
$egg: rgba(250, 236, 246, 1);

body, html {
  background-color: $light;
  color: $dark;
  font-family: 'Prompt', sans-serif;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  #FEAC5E, #C779D0, #4BC0C8);
	background-size: 400% 400%;
  animation: background-shift 10s ease infinite;
  height: 100vh;
}

#app{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

#home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  height: 100vh;
}

.egg {
  justify-content: flex-end;
  align-items: center;
  box-shadow: inset -10px 16px 60px 2px $dark;
  border-radius: 50% / 60% 60% 37% 37%;
  height: 400px;
  width: 300px;
  background-color: $egg;
  display: flex;
  flex-direction: column;
  z-index: 1;

  .egg-eyes {
    display: flex;

    .egg-eye {
      margin: 0 14px 70px 14px;
      justify-content: center;
      border-radius: 50% / 63% 60% 37% 37%;
      background-color: $light;
      overflow: hidden;
      display: flex;
      width: 95px;
      height: 65px;
      box-shadow: 0px 8px 10px 4px desaturate(rgba($dark, 0.2), 30%), 0 2px 5px 1px rgba(darken($dark, 25%), 0.8), inset 0px -4px 12px 7px $pink, inset 0px -3px 5px 3px darken($pink, 50%);
      animation: blink 8s ease normal infinite;
  
      .egg-eye-iris {
        margin-top: 14px;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        background-color: darken($dark, 100%);
        display: flex;
        animation: peek 8s normal infinite;
        box-shadow: inset 0 0 6px 2px $light;
        animation-delay: 1s;
  
        .egg-eye-iris-sparkle {
          background-color: $light;
          box-shadow: 0 0 2px 1px $light;
          width: 5px;
          height: 5px;
          margin-top: 10px;
          margin-left: 8px;
          border-radius: 50%;
          animation-delay: 1s;
        }
      }
    }
  }

  .egg-mouth {
    width: 40px;
    height: 4px;
    border-top: 2px solid rgba($dark, 0.8);
    margin-bottom: 48px;
    border-radius: 50%;
    box-shadow: inset 0 0 10px 1px rgba($dark, 0.1), 0 0 5px 1px rgba($dark, 0.2);
  }
}

.count {
  font-size: 96px;
  z-index: 0;
  display: flex;
  color: rgba($dark, 0.2);
}

.controls {
  z-index: 1;
  margin-bottom: 20px;

  button {
    background-color: inherit;
    border: none;
  
    i {
      font-size: 48px;
      color: rgba($dark, 0.5);
  
      &:hover {
        color: rgba($dark, 0.7);
      }
    }
  
    &:hover {
      cursor: pointer;
    }
  
    &:hover, &:focus {
      outline: none;
    }
  }
}

@keyframes background-shift {
	0%, 100% {
    background-position: 30% 0%;
  }

  5%, 95% {
    background-position: 60% 20%;
  }

  10%, 90% {
    background-position: 70% 50%;
  }

  20%, 80% {
    background-position: 40% 90%;
  }

  30%, 70% {
    background-position: 80% 50%;
  }

  50% {
    background-position: 90% 90%;
  }
}

@keyframes blink {
	1%, 4% {
		height: 30px;
  }
  
  2%, 3% {
		height: 0px;
  }
  
  5%, 100% {
    height: 65px;
  }
}

@keyframes peek {
  8% {
    margin-right: 35px;
    margin-left: 0;
    margin-top: 20px;
  }
  
  16% {
    margin-right: 0;
    margin-left: 50px;
    margin-top: 20px
  }

  24%, 100% {
    margin-right: 0;
    margin-left: 0;
    margin-top: 10px;
  }
}